* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-image: url(images/bg.jpg);
    background-color: red;
    background-blend-mode: darken;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    color: #fff;
    width: 100%;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
}
p {
    margin: 1rem;
    text-align: center;
}
.center {
    text-align: center;
}
.back-to-top {
    font-size: 3rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem
}